/* mobile screen */

@media (max-width: 30em) {
  /* *******Navigation****** */
  nav .nav-menu,
  .sign-in-get-started p {
    display: none;
  }

  nav {
    margin-top: 1rem;
  }

  .logo img {
    width: 3rem;
  }

  .logo .cryptoz-img {
    margin-left: 0.8rem;
  }

  .cryptoz-img .crypto-text {
    font-size: 2.3rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .hero-section {
    flex-direction: column;
    height: 110rem;
  }

  .hero-section .hero-text {
    margin: 9rem auto;
    width: 33.7rem;
  }

  .hero-text .all-in-one {
    font-size: 3.4rem;
    line-height: 4rem;
    text-align: center;
  }

  .hero-text .open-text {
    font-size: 1.6rem;
    line-height: 2.24rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .hero-section #email {
    width: 32.7rem;
    margin-bottom: 2rem;
  }

  .hero-section button {
    width: 32.7rem;
    margin: 0 auto;
  }

  /* ******.currency converter ******* */
  .hero-section .currency-converter,
  .drawer {
    width: 34.3rem;
    margin: 0 auto;
    margin-top: -8.5rem;
  }

  .title button {
    left: -48%;
  }

  .date input {
    width: 90%;
  }

  .brand-logo {
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  .stats {
    height: 41.4rem;
    flex-direction: column;
  }

  .coin-1 img,
  .coin-2 img {
    display: none;
  }

  .Exchange-rate {
    margin-bottom: 2rem;
  }

  /* statistic */
  .stats {
    flex-direction: column;
    width: 36rem;
    height: 40.7rem;
    padding: 3rem;
  }

  .vertical-line {
    rotate: 90deg;
    height: 50rem;
  }

  .num {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 1.5rem;
  }

  .people-joined {
    line-height: 2.4rem;
  }

  .benefit {
    flex-direction: column-reverse;
    margin-top: 38rem;
    gap: 3rem;
    width: 39rem;
  }

  .phone-img img {
    width: 39rem;
  }

  .most-trusted {
    gap: 1rem;
    width: 39rem;
    margin-left: -14%;
  }

  .crypto-currency {
    font-size: 3.2rem;
    text-align: center;
    line-height: 4rem;
    margin-bottom: 3rem;
  }

  .bullet-flex-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .bullet,
  .bullet-heading {
    font-size: 2.2rem;
    line-height: 2.97rem;
  }

  .cta {
    margin-top: 5rem;
    height: 337rem;
  }

  .cta-grid-container {
    width: 37.5rem;
    margin-left: 2rem;
    padding-top: 5rem;
  }

  .portfolio-img {
    grid-area: 1 / 1 / 2 / 2;
    height: 57rem;
    width: 34.7rem;
  }

  .inner img {
    width: 27.3rem;
    padding-left: 2rem;
  }

  .portfolio-heading {
    font-size: 3.5rem;
    text-align: center;
    line-height: 4rem;
  }

  .portfolio-msg {
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
  }

  .lighting-fast-img {
    grid-area: 2 / 1 / 3 / 2;
    width: 34.7rem;
    height: 59.4rem;
  }

  .inner-side {
    flex-direction: column;
    padding-left: 5rem;
  }

  .grid-header {
    font-size: 3.4rem;
    line-height: 4rem;
  }

  .first-p {
    text-align: center;
  }

  .security-img {
    grid-area: 3 / 1 / 4 / 2;
  }

  .second-inner {
    margin-top: -5rem;
  }

  .second-h {
    font-size: 3.2rem;
    text-align: center;
  }

  .second-p {
    text-align: center;
  }

  .get-started-container {
    margin-top: 80rem;
  }

  .few-minute,
  .variety {
    width: 34rem;
    text-align: center;
    align-self: center;
  }

  .few-minute {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .variety {
    line-height: 2.4rem;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .card-1,
  .card-2,
  .card-3 {
    width: 34rem;
  }

  .card-h,
  .card-p {
    width: 30rem;
  }

  .card-h {
    font-size: 2.2rem;
    line-height: 2.9rem;
  }

  .testimonial-header {
    font-size: 3.2rem;
    width: 32.7rem;
    padding: 0 3rem 0 8rem;
    text-align: center;
  }

  .item-4,
  .item-5,
  .item-6,
  .item-7,
  .item-8,
  .item-9,
  .item-10,
  .item-11,
  .item-12 {
    display: none;
  }

  .item-1 {
    width: 40rem;
    height: 22rem;
    transform: translateX(14rem);
  }

  .item-2 {
    width: 25rem;
    height: 28rem;
    transform: translate(-13rem, -24rem);
  }

  .item-3 {
    transform: translate(-55rem, -54rem);
    width: 40rem;
    height: 22rem;
  }

  .testimonial {
    height: 35rem;
  }

  .testimonial-grid {
    height: 22rem;
  }

  .banner {
    margin-top: 12rem;
    width: 37.5rem;
    height: 32.8rem;
  }

  .banner-heading {
    font-size: 3rem;
    text-align: center;
    line-height: 3.7rem;
    width: 32.7rem;
    margin-left: -8%;
    color: #fff;
  }

  .banner-get-btn {
    width: 28rem;
    margin-top: 2rem;
  }

  .banner-icons img {
    display: none;
  }

  .footer {
    height: 87.4rem;
    width: 34.6rem;
  }
}
