/* mobile screen */

@media (max-width: 30em) {
  /* *******Navigation****** */
  nav .nav-menu,
  .sign-in-get-started p {
    display: none;
  }

  nav {
    margin-top: 1rem;
  }

  .logo img {
    width: 3rem;
  }

  .logo .cryptoz-img {
    margin-left: 0.8rem;
  }

  .cryptoz-img .crypto-text {
    font-size: 2.3rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .hero-section {
    flex-direction: column;
    height: 110rem;
  }

  .hero-section .hero-text {
    margin: 9rem auto;
    width: 33.7rem;
  }

  .hero-text .all-in-one {
    font-size: 3.4rem;
    line-height: 4rem;
    text-align: center;
  }

  .hero-text .open-text {
    font-size: 1.6rem;
    line-height: 2.24rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .hero-section #email {
    width: 32.7rem;
    margin-bottom: 2rem;
  }

  .hero-section button {
    width: 32.7rem;
    margin: 0 auto;
  }

  /* ******.currency converter ******* */
  .hero-section .currency-converter,
  .drawer {
    width: 34.3rem;
    margin: 0 auto;
    margin-top: -8.5rem;
  }

  .title button {
    left: -48%;
  }

  .date input {
    width: 90%;
  }

  .brand-logo {
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  .stats {
    height: 41.4rem;
    flex-direction: column;
  }

  .coin-1 img,
  .coin-2 img {
    display: none;
  }

  .Exchange-rate {
    margin-bottom: 2rem;
  }

  /* statistic */
  .stats {
    flex-direction: column;
    width: 36rem;
    height: 40.7rem;
    padding: 3rem;
  }

  .vertical-line {
    rotate: 90deg;
    height: 50rem;
  }

  .num {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 1.5rem;
  }

  .people-joined {
    line-height: 2.4rem;
  }

  .benefit {
    flex-direction: column-reverse;
    margin-top: 40rem;
    gap: 3rem;
    width: 39rem;
  }

  .phone-img img {
    width: 39rem;
  }

  .most-trusted {
    gap: 1rem;
    width: 39rem;
    margin-left: -14%;
  }

  .crypto-currency {
    font-size: 3.2rem;
    text-align: center;
    line-height: 4rem;
    margin-bottom: 3rem;
  }

  .bullet-flex-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .bullet,
  .bullet-heading {
    font-size: 2.2rem;
    line-height: 2.97rem;
  }

  .cta {
    margin-top: 5rem;
  }

  .cta-grid-container {
    height: 335.0rem;
    width: 10%;
  }
}
