* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  /* 
      i want my default font size to be 10px instead of 16px
      font-size: 10px; 
      10px / 16px = 0.625 = 62.5%;
      percentage of user's browser font-size setting 
      */
  font-size: 62.5%;
  /* background-color: red; */
}

body {
  max-width: 144rem;
  margin: 0 auto;
}

/* *******Navigation******** */
header {
  height: 8rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.6rem 0rem 1.6rem 0rem;
  position: sticky;
}

.logo {
  display: flex;
  align-items: center;
}

.logo .cryptoz-img {
  margin-left: 1.6rem;
}

.cryptoz-img .crypto-text {
  font-size: 2.6rem;
  font-weight: 900;
}

.crypto-text span {
  color: #2752e7;
}

.logo img {
  filter: invert();
}

nav .nav-menu {
  display: flex;
}

.nav-menu a {
  font-size: 1.6rem;
  margin-left: 2rem;
  color: #000;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #2752e7;
}

/* MOBILE NAV */
.btn-mobile-nav {
  border: none;
  cursor: pointer;
  background-color: #fff;
  display: none;
}

.icon-mobile-nav {
  height: 2.8rem;
  width: 3rem;
  color: #000;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

nav .sign-in-get-started {
  display: flex;
}

.sign-in-get-started p {
  margin-left: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  align-self: center;
}

.get-started {
  background-color: #2752e7;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
}

/* **** All Sections Effects***** */
.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.hidden {
  display: none;
}

/* ******Hero Section****** */
.hero-section {
  position: relative;
  background: rgb(63, 90, 149);
  background: linear-gradient(
    90deg,
    rgba(63, 90, 149, 1) 21%,
    rgba(39, 82, 231, 1) 100%,
    rgba(37, 52, 102, 1) 100%
  );
  max-width: 144rem;
  height: 75.9rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 3rem;
}

.hero-section .hero-text {
  margin: 15rem 12rem;
  width: 55rem;
}

.all-in-one,
.open-text {
  color: #fff;
  margin-bottom: 4.5rem;
}

.hero-text .all-in-one {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
}

.hero-text .open-text {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 400;
}

.hero-section .currency-converter {
  width: 49.1rem;
  height: 49.1rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 9.4rem;
  z-index: 1;
}

.hero-section input,
.hero-section button {
  height: 6rem;
}

.hero-section #email {
  width: 36rem;
  padding: 1.8rem 3.6rem;
  border-radius: 1rem;
  border: none;
  margin-top: 1.5rem;
}

.hero-section button {
  background-color: #2752e7;
  font-size: 1.6rem;
  width: 17rem;
  margin-left: 1rem;
  border: none;
  border-radius: 1rem;
  color: #fff;
  padding: 1.8rem 4rem;
}

.control button {
  --image: url(https://placehold.co/30/blue/white?text=$);
  font-size: 11.89px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #000;
  border: none;
  height: 44.57px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin-left: 20px; */
}

.control button::before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: teal var(--image) center no-repeat;
}

/* .control button::after {
  font-family: "Material Symbols Outline";
  font-size: 2rem;
  content: '\e313';
} */

.control button:hover {
  font-weight: 600;
  color: #2752e7;
}

.converter-line {
  width: 20px;
  height: 20px;
  border-left: 2px solid #0000004d;
  align-self: center;
}

.control {
  display: flex;
  background-color: #f5f5f5;
  box-shadow: inset 0 0 3px #f5f5f5;
  border-radius: 8.91px;
  overflow: hidden;
}

.control input {
  font-size: 11.89px;
  padding: 15px;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  height: 44.57px;
}

.date input {
  border: none;
  outline: none;
  width: 93%;
  height: 4.5rem;
  border-radius: 1rem;
  font-size: 11.89px;
}

.drawer button {
  background-color: white;
  color: #000;
  height: 20px;
  width: 20px;
  text-align: center;
}

/* more attention */
.drawer {
  margin-top: 9.4rem;
  inset: 0;
  background-color: rgba(245, 245, 245, 0.247);
  width: 49.1rem;
  height: 49.1rem;
  padding: 20px;
  display: grid;
  align-content: start;
  gap: 20px;
  border-radius: 2rem;
  z-index: 1;
}

.drawer.show {
  transform: none;
}

.drawer.hide {
  display: none;
}

.title {
  text-align: center;
  position: relative;
  top: 5%;
  font-size: 1.6rem;
  color: #000;
}

.title button {
  position: absolute;
  top: 5%;
  inset-inline-start: 0;
  transform: translateY(-50%);
  background-color: transparent;
  opacity: 0.5;
}

title button:hover {
  opacity: 1;
}

.search input {
  width: 100%;
  height: 44.57px;
  padding: 10px 20px;
  border-radius: 10px;
  outline-color: #2752e7;
  border: none;
}

.currency-list {
  list-style-type: none;
  overflow-y: auto;
}

.currency-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding-block: 5px;
}

.currency-list li:first-child {
  padding-block-start: 0;
}

/* Disable click events for non list item */
.currency-list *:not(li) {
  pointer-events: none;
}

/* ****currency converter**** */
.currency-converter .currency-text {
  color: #ffffffbe;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.36rem;
  padding: 3rem 3rem 3rem 3rem;
}

.coin-1,
.coin-2 {
  position: absolute;
}

.coin-1 {
  right: 5rem;
  top: 5.5rem;
}

.coin-2 {
  right: 57rem;
  bottom: 14rem;
  z-index: 2;
}

.amount {
  padding: 0rem 3rem 3rem 3rem;
}

.convert {
  padding-top: 3rem;
}
.date {
  padding-left: 3rem;
}

.amount-text,
.convert-text,
.date-text {
  color: rgba(255, 255, 255, 0.637);
  padding-bottom: 1rem;
  font-size: ;
}

.amount-text {
  font-size: 1.6rem;
}

.convert-text,
.date-text {
  font-size: 1.2rem;
}

.Exchange-rate {
  color: rgba(255, 255, 255, 0.637);
  margin-top: 4rem;
  text-align: center;
}

.Exchange-rate h3 {
  font-size: 1.6rem;
}

.Exchange-rate #exchange-rate {
  font-size: 1.1rem;
}

/* Brand Logo */
.brand-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand-logo img {
  filter: grayscale();
}

.binance img {
  height: 10rem;
}
.coinbase img {
  height: 5.5rem;
}
.bitcoin img {
  height: 10rem;
}
.tether img {
  height: 10rem;
}
.bitmex img {
  height: 2rem;
}

/* STATISTICS */
.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  height: 18.4rem;
  width: 120rem;
  margin: 5rem auto;
}

.num {
  font-size: 4.8rem;
  line-height: 6rem;
  font-weight: 500;
}

.people-joined {
  font-size: 1.8rem;
  line-height: 2.6;
  margin-top: -1.5rem;
  color: #888686;
}

.vertical-line {
  border: 1px solid #e3e3e3;
  height: 10rem;
}

.benefit,
.iphone-img img {
  height: 80.6rem;
}

.benefit {
  display: flex;
  justify-content: space-around;
  gap: 18rem;
}

.most-trusted {
  width: 48.8rem;
  height: 80.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7.4rem;
  gap: 5rem;
}

.crypto-currency {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6rem;
}

.bullet-num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.bullet-flex-container {
  display: flex;
  gap: 3rem;
}

.bullet,
.bullet-heading {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3rem;
}

.bullet {
  color: #d0dbff;
}

.bullet-point {
  width: 34.9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bullet-heading {
  color: #050e2c;
}

.bullet-paragraph {
  font-size: 1.6rem;
  color: #626262;
  line-height: 2.4rem;
  font-weight: 400;
}

.benefit-hr {
  border-bottom: 1px solid #e3e3e3;
  max-width: 42.6rem;
}

.iphone-img img {
  max-width: 77.5rem;
}

/* cta */
.cta {
  height: 179.3rem;
  background-color: #d0dbff;
}

.cta-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100rem;
  width: 100%;
  gap: 3rem 3.5rem;
  margin-left: 13rem;
  padding-top: 15rem;
}

.portfolio-img {
  grid-area: 1 / 1 / 3 / 2;
  height: 69.3rem;
  background-color: #091951;
  padding: 3.5rem 2.5rem;
  border-radius: 2rem;
  transition: all 0.5s;
}

.portfolio-img:hover {
  transform: translateY(-1rem);
}

.inner {
  max-width: 42.5rem;
}

.portfolio-heading {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  line-height: 5rem;
  margin-top: 5rem;
}

.portfolio-msg {
  color: #fff;
  font-weight: 400;
  font-size: 1.52rem;
  line-height: 2.2rem;
  margin-top: 2.5rem;
}

.inner-side {
  padding: 3rem;
  border-radius: 2rem;
}

.first-inner {
  background: #f3de95;
}

.second-inner {
  background-color: #f395d9;
}

.lighting-fast-img {
  grid-area: 1 / 2 / 2 / 5;
  column-gap: 1rem;
  transition: all 0.5s;
}

.lighting-fast-img:hover {
  transform: translateX(1rem);
}

.security-img {
  grid-area: 2 / 2 / 3 / 5;
  transition: all 0.5s;
}

.security-img:hover {
  transform: translateY(1rem);
}

.inner-side {
  display: flex;
  gap: 4rem;
}

.grid-header {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.37rem;
}

.first-h {
  color: #050e2c;
}

.second-h {
  color: #fff;
}

/* side-element */
.first-p {
  color: #050e2c;
}

.second-p {
  color: #fff;
}

.grid-msg {
  line-height: 2rem;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.get-started-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  gap: 3rem;
}

.few-minute,
.variety {
  width: 58rem;
  text-align: center;
  align-self: center;
}

.few-minute {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 6rem;
  color: #050e2c;
}

.variety {
  font-size: 1.8rem;
  line-height: 2.61rem;
  color: #050e2cb4;
}
.card-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.card-1,
.card-2,
.card-3 {
  width: 38.3rem;
  height: 41.36rem;
  background-color: #fff;
  border-radius: 2rem;
  text-align: center;
  transition: all 0.5s;
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
  transform: Scale(1.05);
}

.card-img-container {
  margin-top: 3rem;
}

.card-h,
.card-p {
  width: 33.5rem;
  margin: 2rem auto;
}

.card-h {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3rem;
  color: #2c3131;
}

.card-p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #626262;
}

.testimonial {
  background-color: #fff;
  height: 105.4rem;
}

.testimonial-header {
  font-size: 5rem;
  margin: 7rem 0 5rem 0;
  text-align: center;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-left: 20rem;
  height: 90rem;
}

.person-profile {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.profile-img {
  width: 3rem;
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.person-name {
  font-size: 1.3rem;
  font-weight: 700;
}

.person-msg {
  color: #626262;
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: 0.8rem;
}

.job-title {
  color: #626262;
  font-weight: 600;
  font-weight: 1.1rem;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6,
.item-7,
.item-8,
.item-9,
.item-10,
.item-11,
.item-12 {
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
}

.item-1 {
  grid-area: 1 / 1 / 3 / 2;
}

.item-2 {
  grid-area: 3 / 1 / 4 / 2;
}
.item-3 {
  grid-area: 4 / 1 / 6 / 2;
}
.item-4 {
  grid-area: 1 / 2 / 2 / 3;
}
.item-5 {
  grid-area: 2 / 2 / 4 / 3;
}
.item-6 {
  grid-area: 4 / 2 / 6 / 3;
}
.item-7 {
  grid-area: 1 / 3 / 3 / 4;
}
.item-8 {
  grid-area: 3 / 3 / 4 / 4;
}
.item-9 {
  grid-area: 4 / 3 / 6 / 4;
}
.item-10 {
  grid-area: 1 / 4 / 2 / 5;
}
.item-11 {
  grid-area: 2 / 4 / 4 / 5;
}
.item-12 {
  grid-area: 4 / 4 / 6 / 5;
}

.banner {
  background: #2752e7;
  width: 120rem;
  height: 32.8rem;
  margin: 10rem auto;
  border-radius: 1rem;
  position: relative;
}

.banner-item {
  display: flex;
  padding: 5rem;
}

.banner-left {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.banner-heading {
  font-size: 4rem;
  font-weight: 900;
  line-height: 5rem;
  width: 68.6rem;
  color: #fff;
}

.banner-get-btn {
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #2c3131;
  padding: 1.8rem 3rem;
  border-radius: 1rem;
  width: 15rem;
}

.banner-icons img {
  position: absolute;
}

.banner-icons .bit {
  top: -7rem;
  right: 15rem;
}

.banner-icons .eth {
  bottom: 6rem;
  right: 5rem;
}

.banner-icons .luna {
  bottom: 1rem;
  right: 25rem;
}

.footer {
  height: 50.9rem;
  background: #2752e7;
  width: 120rem;
  margin: 0 auto;
  border-radius: 1rem;
  margin-top: 50rem;
  margin-bottom: 5rem;
}

.footer-list p a:hover {
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 5rem 5rem;
}

.footer-bold,
.footer-list p {
  color: #fff;
}

.footer-bold {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.footer-list p {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.footer-list p a {
  text-decoration: none;
  color: #ffffffd2;
}

.footer-hr {
  border-bottom: 1px solid #e3e3e37e;
  max-width: 110rem;
  margin: 0 auto;
  position: relative;
  bottom: 2rem;
}

.footer-last-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.footer-last-container .more-crypto {
  color: #fff;
  font-weight: 600;
  font-size: 2.5rem;
}

.copy-right,
.copy-right span a {
  color: #ffffffb6;
  font-size: 1.4rem;
}

.copy-right span a {
  text-decoration: none;
}
